@page "/gameresults"

<style>
#gezi{
	background-color:#ddecff;
	color:red;
	font-size:20pt;
	flex:1;
}
.left{
	background-color:#ddecff;
	flex-shrink:0;
	height:100px;
}
.right{
	background-color:#d00cff;
	color:#ffffff;
	flex-grow:1;
	text-align:center;
	font-size:40pt;
	height:100px;
}
 </style>
<p {color:red}>gezi</p>

<Layout>
	<Sider >
		<div class=left>侧边12</div>
		</Sider>
	<Layout>
		<Content>
			@*<div class="container">
				<div class="wrapper">
				<div class="content">内容1</div>
				</div>
				</div>*@
		<div class=right>.Net</div>

		</Content>
	</Layout>
</Layout>