@page "/"

<PageTitle>Index</PageTitle>

<h1>当前在线人数 @num </h1>

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" />
@code{
	int num=>OnlineUserManager.OnlineUserList.Count;
}