@inherits LayoutComponentBase
@inject MessageService message

@using MongoDB.Driver;

@code {
	bool isLogin = false;
	string input_user = "";
	string input_password = "";
	string user = "";
}
<div class="page">
	<div >
		<NavMenu />
	</div>
	<main>
	   <div class="top-row px">
			@if (!isLogin)
			{
						<Input style="width:150px" placeholder="账号" @bind-Value="input_user" />
						<Input style="width:150px" placeholder="密码" @bind-Value="input_password" />
						<Button @onclick="_ => CheckUserInfo()">登录</Button>
			}
			else
			{
						<Button Type="link">欢迎你，陌生而可敬的 @user </Button>
						<Button @onclick="_ => Logout()">登出</Button>
			}
	</div>
		<article class="content px-4">
			@Body
		</article>
	</main>
</div>

@code {
	void CheckUserInfo()
	{
		var userInfo = MongoDbCommand.Login(input_user, input_password);
		if (userInfo != null)
		{
			user = userInfo.Name;
			isLogin = true;
			message.Success("登陆成功");
		}
		else
		{
			message.Error("登陆失败");
		}
	}
	void Logout()
	{
		user = "";
		isLogin = false;
		message.Warning("退出登录状态");

	}
}